h3{
    text-align: center;
}

button{
    display: flex;
    background-color: var(--primary-blue);
    color: white;
    border-color: 1px solid var(--primary-blue);
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-family: "montserrat", sans-serif;
    margin-top: 10px;
}

.update-buttons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", sans-serif;
}

.update-buttons > button{
    font-family: "montserrat", sans-serif;
}

.change-button{
    display: flex;
    gap: 20px;
}

.save-button{
    background-color: rgb(36, 167, 36);
    font-family: "montserrat", sans-serif;
}

.discard-button{
    background-color: rgb(197, 21, 21);
    font-family: "montserrat", sans-serif;
}

input::placeholder{
    color: black;
    font-size: 15px;
    font-family: "montserrat", sans-serif;
}

.user-profile{
    display: flex;
    box-shadow: 1px 2px 15px -3px rgba(0,0,0,0.19);
    -webkit-box-shadow: 1px 2px 15px -3px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 2px 15px -3px rgba(0,0,0,0.19);
    width: fit-content;
    padding: 40px;
    margin: 50px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.user-information{
    padding: 50px;
}

.user-name-information, .user-age-information, .user-address, .email-password{
    display: flex;
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.password-icons{
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}
