.header{
    display: flex;
    align-items: center;
    /*justify-content: space-between; */
    margin-right: 40px;
    margin-left: 40px;
}

.header-title{
    font-weight: bold;
    font-size: 24px;
    font-weight: 700;
    margin-right: 40px;
}

.header-navbar{

}

.header-navbar a{
    margin-right: 30px;
    text-decoration: none;
}

.header-navbar a:active{
    margin-right: 30px;
    color: rgb(189, 189, 189);
    
}

.basket{
    display: flex;
    gap: 3px;
    margin-left: auto;
}

.item-basket{
    font-size: 20px;
    justify-self: flex-end;
    cursor: pointer;
    
}

.items-quantity{
    color: black;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
}