.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-weight: bold;
    font-size: 24px;
    font-weight: 700;
    margin-right: 30px;
}

.header-navbar{}

.header-navbar a{
    margin-right: 30px;
    text-decoration: none;
}

.header-navbar a:active{
    margin-right: 30px;
    color: rgb(189, 189, 189);
    
}

.item-basket{
    justify-self: flex-end;
}