.header-body{
    background: linear-gradient(90deg, rgba(150,233,251,1) 35%, rgba(171,236,214,1) 100%);    
    height: 450px;
    border-radius: 20px;   
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.header-caption{
    display: flex;
    flex-direction: column;
}

.header-body-title{
    margin: 110px 100px 0px;
}

.title-season{
    color: var(--hover-text-color);
    font-size: 16px;
    font-weight: 700;
}

.title-collection{
    color: var(--text-color);
    font-weight: bolder; 
    margin-top: 25px;
}

.title-description{
    color: var(--secondary-text-color);
    font-weight: 600;
    margin-top: -8px;
}

.header-caption > button {
    margin-left: 100px;
    background-color: #23A6F0;
    padding-inline: 40px;
    color: white;
    font-weight: 700;letter-spacing: 0.1px;
    font-family: "montserrat", sans-serif;
    border-color:1px solid var(--primary-blue);
    border-radius: 10px;
    border-style: none;
    margin-top: 15px;
    max-width: 250px;
    cursor: pointer;
}