@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --hover-text-color: #2A7CC7;
    --primary-blue: #23A6F0;
    --text-color: #252B42;
    --secondary-text-color: #737373;
    --secondary-price-color: #23856D;
    --second-text-color: #737373;
}

body{
    font-family: "montserrat", sans-serif;
}